#main-container {
  border: 1px solid black;
  width: 100%;
  height: 500px;
  color: black;
}

.one-block {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  background-color: red;
  margin: 2px;
  display: inline-block;
}
